<div class="row">
  <h2>Utilization by Team Member</h2>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Team Member</th>
        <th>Actual Hours</th>
        <th>Target Hours</th>
        <th>Variance</th>
      </tr>
    </thead>
    <tbody>
      <% @metrics_by_employee.each do |employee_metrics| %> 
        <tr>
          <td><%= link_to employee_metrics.employee.name, employee_metrics.employee %></td>
          <td><%= number_with_precision(employee_metrics.hours_billed, precision: 0) %></td>
          <td>
            <%= number_with_precision(employee_metrics.target_hours, precision: 0) %> 
              <i class="allocation-percent">(<%= number_to_percentage(employee_metrics.employee.billable_target_ratio * 100, precision: 0) %> billable)</i>
            </td>
          <td class="<%= 'red' if employee_metrics.variance < 0 %>"><%= number_with_precision(employee_metrics.variance, precision: 0) %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td><%= number(@key_metrics.hours_billed) %></td>
        <td><%= number(@key_metrics.target_hours_of_employees) %></td>
        <td><%= number(@key_metrics.hours_variance) %></td>
      </tr>
    </tbody>
  </table>
</div>