<div class="row">
  <h1><%= @team_member.name %></h1>
</div>

<div class="row">
  <h2># Tasks by Week</h2>
  <%= line_chart @employee_key_metrics.employee_completed_tasks.group_by_week(:completed_on).count %>
</div>
<div class="row">
  <h2>Dev Days by Week</h2>
  <%= line_chart @employee_key_metrics.employee_completed_tasks.group_by_week(:completed_on).sum(:dev_days) %>
</div>

<div class="row">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Client</th>
        <th>% of Team's Hours</th>
        <th>% of Individual's Hours</th>
        <th>Client Revenue</th>
        <th>Revenue Attributable to <%= @team_member.first_name %></th>        
        <th>Effective Rate</th>
        <th>Gross Cost</th>
        <th>Gross Profit</th>
        <th>GP %</th>
        <th>Net Cost</th>
        <th>Net Profit</th>
        <th>NP %</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'clients/metrics_by_client', metrics_by_client: @employee_key_metrics.metrics_by_client %>
      <tr>
        <td><strong>Total</strong></td>
        <td>-</td>
        <td><strong><%= number_to_percentage(@employee_key_metrics.clients_percent_of_hours * 100, precision: 0) %></strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.clients_revenue, precision: 0) %><strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.revenue_attributable_to_employee, precision: 0) %><strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.clients_effective_rate, precision: 0) %><strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.clients_gross_cost, precision: 0) %><strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.clients_gross_profit, precision: 0) %><strong></td>
        <td><strong><%= number_to_percentage(@employee_key_metrics.clients_gross_profit_percentage * 100, precision: 0) %><strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.clients_net_cost, precision: 0) %><strong></td>
        <td><strong><%= number_to_currency(@employee_key_metrics.clients_net_profit, precision: 0) %><strong></td>
        <td><strong><%= number_to_percentage(@employee_key_metrics.clients_net_profit_percentage * 100, precision: 0) %><strong></td> 
        <% if false %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
