<div class="row">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <h2>Overall Performance</h2>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Actual</th>
        <th>Target</th>
        <th>Variance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total Hours (including contractors)</td>
        <td><%= number(@key_metrics.hours_billed) %></td>      
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Employee Utilization</td>
        <td>
          <%= number_to_percentage(@key_metrics_no_contractors.net_utilization * 100, precision: 0) %> (<%= number(@key_metrics_no_contractors.hours_billed) %> hours)
        </td>      
        <td>
          83% (<%= number(@key_metrics_no_contractors.target_hours_of_employees) %> hours)</td>
        <td class="<%= 'red' if @key_metrics_no_contractors.target_hours_variance_percentage < 0 %>">
          <%= number_to_percentage(@key_metrics_no_contractors.target_hours_variance_percentage * 100, precision: 0) %>
        </td>
      </tr>
      <tr>
        <td>Revenue</td>
        <td><%= number_to_currency(@key_metrics.revenue, precision: 0) %></td>      
        <td>-</td>
        <td>-</td>
      </tr> 
      <tr>
        <td>Effective Rate</td>
        <td><%= number_to_currency(@key_metrics.effective_rate, precision: 0) %></td>      
        <td>$160</td>
        <td class="<%= 'red' if @key_metrics.effective_rate_variance_percentage < 0 %>">
          <%= number_to_percentage(@key_metrics.effective_rate_variance_percentage * 100, precision: 0) %>
        </td>
      </tr>                 
    </tbody>
  </table>  
</div>
