<!DOCTYPE html>
<html>
<head>
  <title>ConsultingKpis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert"><%= alert %></div>
  <% end %>
  <%= render "shared/header" if current_user && controller_name != "feedback_requests" %>
  <div class="container mt-5">
    <%= yield %>
  </div>
</body>
</html>
